<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" th:href="@{/images/favicon.ico}">
        <title>Huawei HTR - Handwritten Chinese Text Recognition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link th:href="@{/styles/ocr_webimage.css}" rel="stylesheet" />
    </head>
    <body onselectstart="return false">
        <h1 id="title">Huawei HTR Demo</h1>
        <div id="signature-pad" class="signature-pad">
            <div class="input-container"><input type="text" id="input-recog" readOnly/><button id="backspace">⌫</button></div>
            <div class="signature-pad--body">
                <canvas></canvas>
                <!--<div class="cover-container top"></div>
                <div class="cover-container left"></div>
                <div class="cover-container right"></div>
                <div class="cover-container bottom"></div>
                <div class="cover-container full"></div>-->
            </div>
            <div class="signature-pad--footer">
                <div class="description">Handwrite Input Within the Box</div>
                <div class="signature-pad--actions">
                    <div class="column">
                        <button id="clearButton">Clear Board</button>
                    </div>
                    <div class="column">
                        <ul id="ocr-result">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p id="footer"><a href="https://support.huaweicloud.com/intl/en-us/api-ocr/api-ocr.pdf#page=26" target="_blank">API Documentations</a></p>
        <script src="scripts/jquery-3.7.0.min.js"></script>
        <script src="scripts/htr_webimage.js"></script>
    </body>
</html>
